In [61]:
import pandas as pd
import numpy as np

In [62]:
#TAI DU LIEU XET TUYEN DAI HOC
df=pd.read_csv('dulieuxettuyendaihoc.csv',index_col='STT')
df.head(10)

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A
6,9.3,7.6,7.9,8.6,7.0,7.3,7.7,7.9,9.6,7.8,...,5.7,8.0,7.8,M,NaN,1,1.50,4.00,6.00,D1
7,2.8,3.9,5.5,6.9,5.0,7.3,4.6,5.2,4.4,6.7,...,6.6,6.0,6.0,F,NaN,2,6.50,6.75,5.25,C
8,8.3,6.0,7.6,5.1,7.5,4.7,5.8,7.2,6.7,6.3,...,7.1,6.8,7.0,F,NaN,2,3.75,4.50,4.25,D1
9,6.5,6.3,7.6,6.0,5.5,7.1,6.3,5.0,7.3,6.8,...,9.1,7.9,6.1,F,NaN,1,3.50,3.50,6.75,D1
10,7.3,5.9,4.7,7.1,6.7,7.9,6.7,7.7,8.0,6.8,...,6.4,6.1,7.8,F,NaN,1,4.00,4.75,5.50,D1

In [63]:
#Thống kê dữ liệu thiếu cho biến T1 và hiệu chỉnh dữ liệu, lưu ý việc thay thế dữ liệu thiếu sử dụng phương pháp Mean.
df['T1']=df['T1'].fillna(df['T1'].mean())
df

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.50,A1
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.50,C
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,7.9,8.1,4.6,M,NaN,1,5.00,6.75,4.00,C
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.1,7.5,7.2,M,NaN,2NT,4.25,4.50,5.00,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,6.8,...,6.3,6.1,6.2,F,NaN,1,5.25,1.50,6.25,C
97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,4.8,...,7.9,7.5,4.4,F,NaN,1,5.25,3.75,4.75,C
98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,7.3,...,9.6,8.4,5.8,M,NaN,2NT,7.00,8.00,4.00,C
99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,5.7,...,6.6,5.2,5.9,M,NaN,1,5.00,3.50,5.50,C
100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,6.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.50,4.25,C

In [64]:
#Thống kê dữ liệu thiếu cho cột dân tộc và hiệu chỉnh dữ liệu thiếu như sau: Mặc định thiếu thì điền giá trị 0.
df['DT']=df['DT'].fillna(0)
df

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,6.6,7.6,5.9,F,0.0,2NT,3.25,3.25,4.50,A1
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.6,6.1,4.4,M,0.0,1,6.00,4.00,3.50,C
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,7.9,8.1,4.6,M,0.0,1,5.00,6.75,4.00,C
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,7.1,7.3,7.4,M,0.0,1,4.25,4.25,5.25,D1
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.1,7.5,7.2,M,0.0,2NT,4.25,4.50,5.00,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,6.8,...,6.3,6.1,6.2,F,0.0,1,5.25,1.50,6.25,C
97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,4.8,...,7.9,7.5,4.4,F,0.0,1,5.25,3.75,4.75,C
98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,7.3,...,9.6,8.4,5.8,M,0.0,2NT,7.00,8.00,4.00,C
99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,5.7,...,6.6,5.2,5.9,M,0.0,1,5.00,3.50,5.50,C
100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,6.4,...,5.6,6.6,5.8,M,0.0,2NT,5.25,2.50,4.25,C

In [65]:
6#Hãy thực hiện xử lý lần lượt tất cả dữ liệu thiếu cho các biến về điểm số còn lại.
subjects = ['T', 'L', 'H', 'S', 'V', 'X', 'D', 'N']
score_numbers = range(1, 7) # Từ 1 đến 6
col_score = [f"{s}{n}" for s in subjects for n in score_numbers]

for i in col_score:
    df[i] = df[i].fillna(df[i].mean())
df = df.round(1)
df

,T1,L1,H1,S1,V1,X1,D1,N1,T2,L2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
STT,,,,,,,,,,,,,,,,,,,,,
1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,8.9,...,6.6,7.6,5.9,F,0.0,2NT,3.2,3.2,4.5,A1
2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,5.4,...,6.6,6.1,4.4,M,0.0,1,6.0,4.0,3.5,C
3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5.0,4.9,...,7.9,8.1,4.6,M,0.0,1,5.0,6.8,4.0,C
4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,6.2,...,7.1,7.3,7.4,M,0.0,1,4.2,4.2,5.2,D1
5,6.0,5.0,6.0,7.3,6.5,7.7,7.9,6.1,5.4,5.5,...,6.1,7.5,7.2,M,0.0,2NT,4.2,4.5,5.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,8.6,6.9,7.4,8.8,7.6,5.8,7.3,5.7,8.9,6.8,...,6.3,6.1,6.2,F,0.0,1,5.2,1.5,6.2,C
97,3.7,5.4,6.0,5.1,5.5,3.9,6.1,4.4,4.1,4.8,...,7.9,7.5,4.4,F,0.0,1,5.2,3.8,4.8,C
98,8.8,5.5,7.4,7.7,6.2,7.3,8.1,4.5,9.5,7.3,...,9.6,8.4,5.8,M,0.0,2NT,7.0,8.0,4.0,C
99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,5.7,...,6.6,5.2,5.9,M,0.0,1,5.0,3.5,5.5,C
100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,6.4,...,5.6,6.6,5.8,M,0.0,2NT,5.2,2.5,4.2,C

In [66]:
#7.Tạo các biến TBM1, TBM2, TBM3 tương ứng với trung bình môn của các năm lớp 10, 11 và 12.
#• Công thức tính: TBM = (T*2 + L + H + S + V*2 + X + D + N) / 10

# Đọc dữ liệu
df = pd.read_csv('dulieuxettuyendaihoc.csv')

# Tính toán TBM1 (Lớp 10 - HK1)
df['TBM1'] = (df['T1']*2 + df['L1'] + df['H1'] + df['S1'] + df['V1']*2 + df['X1'] + df['D1'] + df['N1']) / 10

# Tính toán TBM2 (Lớp 10 - HK2)
df['TBM2'] = (df['T2']*2 + df['L2'] + df['H2'] + df['S2'] + df['V2']*2 + df['X2'] + df['D2'] + df['N2']) / 10

# Tính toán TBM3 (Lớp 12 - HK2)
df['TBM3'] = (df['T6']*2 + df['L6'] + df['H6'] + df['S6'] + df['V6']*2 + df['X6'] + df['D6'] + df['N6']) / 10

# Lưu kết quả vào file mới
df.to_csv('dulieuxettuyendaihoc_updated.csv', index=False)

# Hiển thị 5 dòng đầu tiên của các cột mới tính
print(df[['TBM1', 'TBM2', 'TBM3']].head())

   TBM1  TBM2  TBM3
0  7.00  7.54  7.01
1  4.69  5.47  5.07
2  5.77  5.38  6.04
3  6.21  5.20  6.88
4  6.50  6.36  6.99

In [67]:
#Tạo các biến xếp loại XL1, XL2 và XL3 dựa trên TBM1,TBM2 và TBM3 cho từng năm lớp
#10, 11, 12 như sau:
#• Nhỏ hơn 5.0 xếp loại: yếu (kí hiệu là Y)
#• Từ 5.0 đến dưới 6.5: trung bình (kí hiệu là TB)
#• Từ 6.5 đến dưới 8.0: khá (kí hiệu là K)
#• Từ 8.0 đến dưới 9.0: giỏi (kí hiệu là G)
#• Từ 9.0 trở lên: xuất sắc (kí hiệu là XS)

# 1. Đọc dữ liệu từ file CSV
df = pd.read_csv('dulieuxettuyendaihoc.csv')

# 2. Hàm tính điểm trung bình môn (TBM) theo công thức
# Tính toán TBM1 (Lớp 10 - HK1)
df['TBM1'] = (df['T1']*2 + df['L1'] + df['H1'] + df['S1'] + df['V1']*2 + df['X1'] + df['D1'] + df['N1']) / 10

# Tính toán TBM2 (Lớp 10 - HK2)
df['TBM2'] = (df['T2']*2 + df['L2'] + df['H2'] + df['S2'] + df['V2']*2 + df['X2'] + df['D2'] + df['N2']) / 10

# Tính toán TBM3 (Lớp 12 - HK2)
df['TBM3'] = (df['T6']*2 + df['L6'] + df['H6'] + df['S6'] + df['V6']*2 + df['X6'] + df['D6'] + df['N6']) / 10

# 3. Hàm xếp loại (XL) dựa trên điểm TBM
def xep_loai(tbm):
    if tbm < 5.0:
        return 'Y'
    elif tbm < 6.5:
        return 'TB'
    elif tbm < 8.0:
        return 'K'
    elif tbm < 9.0:
        return 'G'
    else:
        return 'XS'

# Áp dụng hàm xếp loại cho từng năm
df['XL1'] = df['TBM1'].apply(xep_loai)
df['XL2'] = df['TBM2'].apply(xep_loai)
df['XL3'] = df['TBM3'].apply(xep_loai)

# 4. Hiển thị kết quả kiểm tra (10 dòng đầu tiên)
print("Kết quả tính toán TBM và Xếp loại:")
columns_to_show = ['TBM1', 'XL1', 'TBM2', 'XL2', 'TBM3', 'XL3']
print(df[columns_to_show].head(10))

# 5. Lưu kết quả ra file CSV mới
df.to_csv('ketqua_xet_tuyen.csv', index=False)
print("\nĐã lưu kết quả vào file 'ketqua_xet_tuyen.csv'")

Kết quả tính toán TBM và Xếp loại:
   TBM1 XL1  TBM2 XL2  TBM3 XL3
0  7.00   K  7.54   K  7.01   K
1  4.69   Y  5.47  TB  5.07  TB
2  5.77  TB  5.38  TB  6.04  TB
3  6.21  TB  5.20  TB  6.88   K
4  6.50   K  6.36  TB  6.99   K
5  7.96   K  8.54   G  7.38   K
6  4.90   Y  5.60  TB  6.01  TB
7  6.80   K  6.87   K  7.03   K
8  6.23  TB  6.72   K  7.56   K
9  6.80   K  7.25   K  7.03   K

Đã lưu kết quả vào file 'ketqua_xet_tuyen.csv'

In [68]:
#Tạo các biến US_TBM1, US_TBM2 và US_TBM3 để chuyển điểm trung bình các năm lớp
#10, 11 và 12 từ thang điểm 10 của Việt Nam sang thang điểm 4 của Mỹ. Sử dụng phương
#pháp Min-Max Normalization

# 1. Đọc dữ liệu từ file đã có sẵn TBM
df = pd.read_csv('ketqua_xet_tuyen.csv')

# 2. Tạo các biến US_TBM1, US_TBM2, US_TBM3 bằng Min-Max Normalization
# Chuyển từ [0, 10] sang [0, 4]
df['US_TBM1'] = (df['TBM1'] / 10) * 4
df['US_TBM2'] = (df['TBM2'] / 10) * 4
df['US_TBM3'] = (df['TBM3'] / 10) * 4

# 3. Hiển thị kết quả kiểm tra (5 dòng đầu)
print("Kết quả chuyển đổi sang thang điểm Mỹ (4.0):")
print(df[['TBM1', 'US_TBM1', 'TBM2', 'US_TBM2', 'TBM3', 'US_TBM3']].head())

# 4. Lưu kết quả ra file CSV mới
df.to_csv('dulieu_chuanhoa.csv', index=False)

Kết quả chuyển đổi sang thang điểm Mỹ (4.0):
   TBM1  US_TBM1  TBM2  US_TBM2  TBM3  US_TBM3
0  7.00    2.800  7.54    3.016  7.01    2.804
1  4.69    1.876  5.47    2.188  5.07    2.028
2  5.77    2.308  5.38    2.152  6.04    2.416
3  6.21    2.484  5.20    2.080  6.88    2.752
4  6.50    2.600  6.36    2.544  6.99    2.796

In [69]:
 #Tạo biến kết quả xét tuyển (kí hiệu là KQXT) nhằm xác định sinh viên đậu (giá trị “1”) và
#rớt ( giá trị “0”) vào các khối dựa trên điểm DH1, DH2 và DH3 như sau
#• Với khối A, A1 nếu [(DH1*2 + DH2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu,
#ngược lại là rớt
#• Với khối B nếu [(DH1 + DH2*2 + DH3)/4] lớn hơn hoặc bằng 5.0 thì đậu, ngược
#lại là rớt
#• Với khối khác nếu [(DH1+ DH2 + DH3)/3] lớn hơn hoặc bằng 5.0 thì đậu, ngược lại là rớt

# 1. Đọc dữ liệu từ file đã có
df = pd.read_csv('dulieu_chuanhoa.csv')

# 2. Định nghĩa hàm tính toán kết quả xét tuyển
def tinh_kqxt(row):
    kt = row['KT']      # Khối thi
    dh1 = row['DH1']    # Điểm môn 1
    dh2 = row['DH2']    # Điểm môn 2
    dh3 = row['DH3']    # Điểm môn 3

    # Tính điểm xét tuyển dựa trên khối
    if kt in ['A', 'A1']:
        diem_xt = (dh1 * 2 + dh2 + dh3) / 4
    elif kt == 'B':
        diem_xt = (dh1 + dh2 * 2 + dh3) / 4
    else: # Các khối khác (C, D1,...)
        diem_xt = (dh1 + dh2 + dh3) / 3

    # Trả về 1 nếu đậu (>= 5.0), ngược lại trả về 0
    return 1 if diem_xt >= 5.0 else 0

# 3. Áp dụng hàm để tạo biến KQXT
df['KQXT'] = df.apply(tinh_kqxt, axis=1)

# 4. Hiển thị kết quả kiểm tra (10 dòng đầu)
print("Kết quả xét tuyển theo khối:")
print(df[['KT', 'DH1', 'DH2', 'DH3', 'KQXT']].head(10))

# 5. Lưu kết quả ra file CSV cuối cùng
df.to_csv('ketqua_xettuyen_final.csv', index=False)

Kết quả xét tuyển theo khối:
   KT   DH1   DH2   DH3  KQXT
0  A1  3.25  3.25  4.50     0
1   C  6.00  4.00  3.50     0
2   C  5.00  6.75  4.00     1
3  D1  4.25  4.25  5.25     0
4   A  4.25  4.50  5.00     0
5  D1  1.50  4.00  6.00     0
6   C  6.50  6.75  5.25     1
7  D1  3.75  4.50  4.25     0
8  D1  3.50  3.50  6.75     0
9  D1  4.00  4.75  5.50     0

In [70]:
#Lưu trữ dữ liệu xuống ổ đĩa thành file processed_dulieuxettuyendaihoc.csv

# 1. Đọc dữ liệu từ kết quả xử lý gần nhất
# Giả sử bạn đang tiếp tục từ file 'ketqua_xettuyen_final.csv'
df = pd.read_csv('ketqua_xettuyen_final.csv')

# 2. Lưu trữ dữ liệu xuống ổ đĩa với tên file mới
df.to_csv('processed_dulieuxettuyendaihoc.csv', index=False)

print("Đã lưu trữ dữ liệu thành công vào file: processed_dulieuxettuyendaihoc.csv")

Đã lưu trữ dữ liệu thành công vào file: processed_dulieuxettuyendaihoc.csv