LAB3_2374802010360_vonguyenthanhnhan

In [1]:
import pandas as pd

In [2]:
#Vấn đề 1: Tiến hành tải dữ liệu vào chương trình ứng dụng Python và giải quyết vấn đề
#“Missing header in the csv file”


# Problem 1
# Thêm header vào dataframe để diễn giải dữ liệu
column_names = ["Id", "Name", "Age", "Weight", 'm0006', 'm0612', 'm1218', 'f0006', 'f0612', 'f1218', 'Extra_Column']

# Đọc file dữ liệu
df = pd.read_csv("patient_heart_rate.csv", names=column_names)



# Hiển thị một vài dòng dữ liệu đầu tiên ra màn hình
print(df.head())

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218  \
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

   Extra_Column
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN

In [3]:
  #Vấn đề 2: Xử lý vấn đề một cột lưu hỗn hợp nhiều dữ liệu, ở đây là cột “Name” chứa bao
#gồm “Firstname” và “Lastname”, giải pháp là ta sẽ tách ra làm 2 cột

df[['Firstname','Lastname']] = df['Name'].str.split(expand=True)
df=df.drop('Name',axis=1)
df.head()

,Id,Age,Weight,m0006,m0612,m1218,f0006,f0612,f1218,Extra_Column,Firstname,Lastname
0,1.0,56.0,70kgs,72,69,71,-,-,-,NaN,Mickéy,Mousé
1,2.0,34.0,154.89lbs,-,-,-,85,84,76,NaN,Donald,Duck
2,3.0,16.0,NaN,-,-,-,65,69,72,NaN,Mini,Mouse
3,4.0,NaN,78kgs,78,79,72,-,-,-,NaN,Scrooge,McDuck
4,5.0,54.0,198.658lbs,-,-,-,69,NaN,75,NaN,Pink,Panther

In [4]:
#Vấn đề 3: Cột Weight có vấn đề về không thống nhất các đơn vị đo lường trong dữ liệu.
#Ta sẽ chuyển các đơn vị về thành đơn vị chuẩn “kg”

# Problem 3
# Get the Weight column
weight = df['Weight']

for i in range (0 ,len(weight)):
    x = str(weight[i])
    # Incase lbs is part of observation remove it
    if "lbs" in x[-3:]:
        # Remove the lbs from the value
        x = x[:-3]
        # Convert string to float
        float_x = float(x)
        # Covert to kgs and store as int
        y = int(float_x/2.2)
        # Convert back to string
        y = str(y)+"kgs"
        weight[i] = y

print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218  Extra_Column  \
0    1.0  56.0  70kgs    72    69    71     -     -     -           NaN
1    2.0  34.0  70kgs     -     -     -    85    84    76           NaN
2    3.0  16.0    NaN     -     -     -    65    69    72           NaN
3    4.0   NaN  78kgs    78    79    72     -     -     -           NaN
4    5.0  54.0  90kgs     -     -     -    69   NaN    75           NaN
5    6.0  52.0  85kgs     -     -     -    68    75    72           NaN
6    7.0  19.0  56kgs     -     -     -    71    78    75           NaN
7    8.0  32.0  78kgs    78    76    75     -     -     -           NaN
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN           NaN
9    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN           NaN
10   9.0  52.0  85kgs     -     -     -    68    75    72           NaN
11  10.0  12.0  45kgs     -     -     -    92    95    87           NaN
12  11.0   NaN  60kgs    78    75    72     -     -     -           NaN
13  12.0  34.0    NaN    65    67    55     -     -     -           NaN
14  13.0   NaN    NaN     -     -     -    68    72    70           NaN
15  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN           NaN
16  15.0  52.0  81kgs     -     -     -    68    75    72           NaN

   Firstname Lastname
0     Mickéy    Mousé
1     Donald     Duck
2       Mini    Mouse
3    Scrooge   McDuck
4       Pink  Panther
5       Huey   McDuck
6      Dewey   McDuck
7     Scööpy      Doo
8        NaN      NaN
9        NaN      NaN
10      Huey   McDuck
11     Louie   McDuck
12     Henry      Nam
13    Michel     Long
14      Tana    Ricky
15  UniLever     None
16       NaN      NaN

/tmp/ipython-input-188549852.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/tmp/ipython-input-188549852.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/tmp/ipython-input-188549852.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/tmp/ipython-input-188549852.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y
/tmp/ipython-input-188549852.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weight[i] = y

In [5]:
#Vấn đề 4: Vấn đề về xuất hiện dòng dữ liệu rỗng (không có giá trị: NaN). Giải pháp có
#thể đưa ra là xóa bỏ
df.dropna(how='all',inplace=True)
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218  Extra_Column  \
0    1.0  56.0  70kgs    72    69    71     -     -     -           NaN
1    2.0  34.0  70kgs     -     -     -    85    84    76           NaN
2    3.0  16.0    NaN     -     -     -    65    69    72           NaN
3    4.0   NaN  78kgs    78    79    72     -     -     -           NaN
4    5.0  54.0  90kgs     -     -     -    69   NaN    75           NaN
5    6.0  52.0  85kgs     -     -     -    68    75    72           NaN
6    7.0  19.0  56kgs     -     -     -    71    78    75           NaN
7    8.0  32.0  78kgs    78    76    75     -     -     -           NaN
10   9.0  52.0  85kgs     -     -     -    68    75    72           NaN
11  10.0  12.0  45kgs     -     -     -    92    95    87           NaN
12  11.0   NaN  60kgs    78    75    72     -     -     -           NaN
13  12.0  34.0    NaN    65    67    55     -     -     -           NaN
14  13.0   NaN    NaN     -     -     -    68    72    70           NaN
15  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN           NaN
16  15.0  52.0  81kgs     -     -     -    68    75    72           NaN

   Firstname Lastname
0     Mickéy    Mousé
1     Donald     Duck
2       Mini    Mouse
3    Scrooge   McDuck
4       Pink  Panther
5       Huey   McDuck
6      Dewey   McDuck
7     Scööpy      Doo
10      Huey   McDuck
11     Louie   McDuck
12     Henry      Nam
13    Michel     Long
14      Tana    Ricky
15  UniLever     None
16       NaN      NaN

In [6]:
#Vấn đề 5: Có nhiều dòng dữ liệu bị trùng lắp thông tin hoàn toàn[fullname, lastname,
#age, weight,....], giải pháp đưa ra là chỉ giữ lại một dòng dữ liệu, tuy nhiên giải pháp phải
#dựa trên nghiệp vụ của tập dữ liệu và quan sát của người xử lý.
df= df.drop_duplicates(subset=['Firstname', 'Lastname', 'Age', 'Weight'], keep='first')
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218  Extra_Column  \
0    1.0  56.0  70kgs    72    69    71     -     -     -           NaN
1    2.0  34.0  70kgs     -     -     -    85    84    76           NaN
2    3.0  16.0    NaN     -     -     -    65    69    72           NaN
3    4.0   NaN  78kgs    78    79    72     -     -     -           NaN
4    5.0  54.0  90kgs     -     -     -    69   NaN    75           NaN
5    6.0  52.0  85kgs     -     -     -    68    75    72           NaN
6    7.0  19.0  56kgs     -     -     -    71    78    75           NaN
7    8.0  32.0  78kgs    78    76    75     -     -     -           NaN
11  10.0  12.0  45kgs     -     -     -    92    95    87           NaN
12  11.0   NaN  60kgs    78    75    72     -     -     -           NaN
13  12.0  34.0    NaN    65    67    55     -     -     -           NaN
14  13.0   NaN    NaN     -     -     -    68    72    70           NaN
15  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN           NaN
16  15.0  52.0  81kgs     -     -     -    68    75    72           NaN

   Firstname Lastname
0     Mickéy    Mousé
1     Donald     Duck
2       Mini    Mouse
3    Scrooge   McDuck
4       Pink  Panther
5       Huey   McDuck
6      Dewey   McDuck
7     Scööpy      Doo
11     Louie   McDuck
12     Henry      Nam
13    Michel     Long
14      Tana    Ricky
15  UniLever     None
16       NaN      NaN

In [7]:
#Vấn đề 6: Xuất hiện dữ liệu bị ảnh hưởng bởi lỗi non-ASCII, không định dạng ASCII.
#Giải pháp: Tùy vào nghiệp vụ ta có thể: xóa dữ liệu tại đó, thay thế bằng dữ liệu khác
#hoặc thay bằng việc đánh dấu bằng một kí tự khác (ví dụ: ‘warning’)
df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218  Extra_Column  \
0    1.0  56.0  70kgs    72    69    71     -     -     -           NaN
1    2.0  34.0  70kgs     -     -     -    85    84    76           NaN
2    3.0  16.0    NaN     -     -     -    65    69    72           NaN
3    4.0   NaN  78kgs    78    79    72     -     -     -           NaN
4    5.0  54.0  90kgs     -     -     -    69   NaN    75           NaN
5    6.0  52.0  85kgs     -     -     -    68    75    72           NaN
6    7.0  19.0  56kgs     -     -     -    71    78    75           NaN
7    8.0  32.0  78kgs    78    76    75     -     -     -           NaN
11  10.0  12.0  45kgs     -     -     -    92    95    87           NaN
12  11.0   NaN  60kgs    78    75    72     -     -     -           NaN
13  12.0  34.0    NaN    65    67    55     -     -     -           NaN
14  13.0   NaN    NaN     -     -     -    68    72    70           NaN
15  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN           NaN
16  15.0  52.0  81kgs     -     -     -    68    75    72           NaN

   Firstname Lastname
0      Micky     Mous
1     Donald     Duck
2       Mini    Mouse
3    Scrooge   McDuck
4       Pink  Panther
5       Huey   McDuck
6      Dewey   McDuck
7       Scpy      Doo
11     Louie   McDuck
12     Henry      Nam
13    Michel     Long
14      Tana    Ricky
15  UniLever     None
16       NaN      NaN

/tmp/ipython-input-1220524623.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
/tmp/ipython-input-1220524623.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

In [8]:
# Vấn đề 7: “Missing values”, vấn đề này xảy ra tại các cột “Age”, “Weight” và “Heart
# Rate”. Thiếu dữ liệu (dữ liệu không đầy đủ) là vấn đề xảy ra nhiều trong các nguồn dữ
# liệu do nhiều nguyên nhân chủ quan lẫn khách quan.Có một vài giải pháp để xử lý vấn đề
# này, chủ yếu dựa trên kinh nghiệm và nghiệp vụ về tập dữ liệu đó. Một số giải pháp đưa
# đề xuất từ chuyên gia như sau:
# a. Deletion: Remove records with missing values
# b. Dummy substitution: Replace missing values with a dummy but valid value:
# e.g.: 0 for numerical values.
# c. Mean substitution: Replace the missing values with the mean.
# d. Frequent substitution: Replace the missing values with the most frequent item.
# e. Improve the data collector: Your business folk will talk to the clients and inform
# them about why it is worth fixing the problem with the data collector
# .……
# Yêu cầu: - -
# Thống kê thông tin dữ liệu thiếu trên từng biến Age và Weight
# Yêu cầu xử lý dữ liệu thiếu như sau: Nếu dòng nào có Age hoặc Weight có dữ liệu thì
# phần Age hoặc Weight được tính như bên dưới, nếu thiếu cả 2 thông tin thì xóa dòng
# o Age: Giá trị thay thế là mean của các giá trị trong cột Age

import numpy as np

# 1. Bỏ qua bước đọc dữ liệu vì DataFrame 'df' đã được tải và xử lý ở các bước trước.
#    Sử dụng df hiện có.

# 2. Thống kê thông tin dữ liệu thiếu trên từng biến Age và Weight
missing_age = df['Age'].isnull().sum()
missing_weight = df['Weight'].isnull().sum()

print(f"Số lượng giá trị thiếu trong cột Age: {missing_age}")
print(f"Số lượng giá trị thiếu trong cột Weight: {missing_weight}")

# 3. Xử lý dữ liệu thiếu theo yêu cầu:
# Bước a: Nếu thiếu cả Age và Weight (cả 2 đều NaN) thì xóa dòng đó
df.dropna(subset=['Age', 'Weight'], how='all', inplace=True)

# Bước b: Với các dòng còn lại, nếu thiếu Age thì thay bằng giá trị mean (trung bình) của cột Age
mean_age = df['Age'].mean()
df['Age'].fillna(mean_age, inplace=True)

print(f"\nGiá trị trung bình của Age dùng để thay thế: {mean_age:.2f}")
print("\n--- Dữ liệu sau khi xử lý ---")
print(df.head(20))

Số lượng giá trị thiếu trong cột Age: 4
Số lượng giá trị thiếu trong cột Weight: 4

Giá trị trung bình của Age dùng để thay thế: 36.10

--- Dữ liệu sau khi xử lý ---
      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218  Extra_Column  \
0    1.0  56.0  70kgs    72    69    71     -     -     -           NaN
1    2.0  34.0  70kgs     -     -     -    85    84    76           NaN
2    3.0  16.0    NaN     -     -     -    65    69    72           NaN
3    4.0  36.1  78kgs    78    79    72     -     -     -           NaN
4    5.0  54.0  90kgs     -     -     -    69   NaN    75           NaN
5    6.0  52.0  85kgs     -     -     -    68    75    72           NaN
6    7.0  19.0  56kgs     -     -     -    71    78    75           NaN
7    8.0  32.0  78kgs    78    76    75     -     -     -           NaN
11  10.0  12.0  45kgs     -     -     -    92    95    87           NaN
12  11.0  36.1  60kgs    78    75    72     -     -     -           NaN
13  12.0  34.0    NaN    65    67    55     -     -     -           NaN
16  15.0  52.0  81kgs     -     -     -    68    75    72           NaN

   Firstname Lastname
0      Micky     Mous
1     Donald     Duck
2       Mini    Mouse
3    Scrooge   McDuck
4       Pink  Panther
5       Huey   McDuck
6      Dewey   McDuck
7       Scpy      Doo
11     Louie   McDuck
12     Henry      Nam
13    Michel     Long
16       NaN      NaN

/tmp/ipython-input-3947062429.py:38: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(mean_age, inplace=True)

In [9]:
# Vấn đề 8: “một cột chứa quá nhiều thông tin cần được phân rã”, như trong bài toán này ta
#thấy header “m0006” chứa các nội dung bao gồm: m → male, 1218 ~ 12-18 (mm-dd).
#Còn giá trị thì là kết quả huyết áp.

# --- Ensure required columns are present and correctly named before melting ---
# Rename 'ID' to 'Id' if 'ID' exists and 'Id' doesn't
if 'ID' in df.columns and 'Id' not in df.columns:
    df.rename(columns={'ID': 'Id'}, inplace=True)

# Split 'Name' into 'Firstname' and 'Lastname' if 'Name' exists and 'Firstname'/'Lastname' don't
if 'Name' in df.columns and 'Firstname' not in df.columns and 'Lastname' not in df.columns:
    df[['Firstname','Lastname']] = df['Name'].str.split(expand=True)
    df.drop('Name', axis=1, inplace=True)

# Melt the Sex + time range columns in single column
# Identify value_vars based on the columns that represent heart rates (m0006, m0612, etc.)
value_vars_to_melt = ['m0006', 'm0612', 'm1218', 'f0006', 'f0612', 'f1218']
# Filter out any value_vars that might not be in the current DataFrame
value_vars_to_melt = [col for col in value_vars_to_melt if col in df.columns]

df = pd.melt(df, id_vars=['Id','Age','Weight','Firstname','Lastname'],
             value_vars=value_vars_to_melt,
             value_name="PulseRate",
             var_name="sex_and_time").sort_values(['Id','Age','Weight','Firstname','Lastname'])

# Extract Sex, Hour Lower bound and Hour upper bound group
# Use raw string r"(\\D)(\\d+)(\\d{2})" to fix SyntaxWarning for invalid escape sequence
tmp_df = df["sex_and_time"].str.extract(r"(\D)(\d+)(\d{2})",expand=True)

# Name columns
tmp_df.columns = ["Sex", "hours_lower", "hours_upper"]

# Create Time column based on "hours_lower" and "hours_upper" columns
tmp_df["Time"] = tmp_df["hours_lower"] + "-" + tmp_df["hours_upper"]

# Merge
df = pd.concat([df, tmp_df], axis=1)

# Drop unnecessary columns and rows
df = df.drop(['sex_and_time','hours_lower','hours_upper'], axis=1)
df = df.dropna()
df.to_csv('outputcleanup.csv',index=False)
print (df)

      Id   Age Weight Firstname Lastname PulseRate Sex   Time
0    1.0  56.0  70kgs     Micky     Mous        72   m  00-06
12   1.0  56.0  70kgs     Micky     Mous        69   m  06-12
24   1.0  56.0  70kgs     Micky     Mous        71   m  12-18
36   1.0  56.0  70kgs     Micky     Mous         -   f  00-06
48   1.0  56.0  70kgs     Micky     Mous         -   f  06-12
60   1.0  56.0  70kgs     Micky     Mous         -   f  12-18
1    2.0  34.0  70kgs    Donald     Duck         -   m  00-06
13   2.0  34.0  70kgs    Donald     Duck         -   m  06-12
25   2.0  34.0  70kgs    Donald     Duck         -   m  12-18
37   2.0  34.0  70kgs    Donald     Duck        85   f  00-06
49   2.0  34.0  70kgs    Donald     Duck        84   f  06-12
61   2.0  34.0  70kgs    Donald     Duck        76   f  12-18
3    4.0  36.1  78kgs   Scrooge   McDuck        78   m  00-06
15   4.0  36.1  78kgs   Scrooge   McDuck        79   m  06-12
27   4.0  36.1  78kgs   Scrooge   McDuck        72   m  12-18
39   4.0  36.1  78kgs   Scrooge   McDuck         -   f  00-06
51   4.0  36.1  78kgs   Scrooge   McDuck         -   f  06-12
63   4.0  36.1  78kgs   Scrooge   McDuck         -   f  12-18
4    5.0  54.0  90kgs      Pink  Panther         -   m  00-06
16   5.0  54.0  90kgs      Pink  Panther         -   m  06-12
28   5.0  54.0  90kgs      Pink  Panther         -   m  12-18
40   5.0  54.0  90kgs      Pink  Panther        69   f  00-06
64   5.0  54.0  90kgs      Pink  Panther        75   f  12-18
5    6.0  52.0  85kgs      Huey   McDuck         -   m  00-06
17   6.0  52.0  85kgs      Huey   McDuck         -   m  06-12
29   6.0  52.0  85kgs      Huey   McDuck         -   m  12-18
41   6.0  52.0  85kgs      Huey   McDuck        68   f  00-06
53   6.0  52.0  85kgs      Huey   McDuck        75   f  06-12
65   6.0  52.0  85kgs      Huey   McDuck        72   f  12-18
6    7.0  19.0  56kgs     Dewey   McDuck         -   m  00-06
18   7.0  19.0  56kgs     Dewey   McDuck         -   m  06-12
30   7.0  19.0  56kgs     Dewey   McDuck         -   m  12-18
42   7.0  19.0  56kgs     Dewey   McDuck        71   f  00-06
54   7.0  19.0  56kgs     Dewey   McDuck        78   f  06-12
66   7.0  19.0  56kgs     Dewey   McDuck        75   f  12-18
7    8.0  32.0  78kgs      Scpy      Doo        78   m  00-06
19   8.0  32.0  78kgs      Scpy      Doo        76   m  06-12
31   8.0  32.0  78kgs      Scpy      Doo        75   m  12-18
43   8.0  32.0  78kgs      Scpy      Doo         -   f  00-06
55   8.0  32.0  78kgs      Scpy      Doo         -   f  06-12
67   8.0  32.0  78kgs      Scpy      Doo         -   f  12-18
8   10.0  12.0  45kgs     Louie   McDuck         -   m  00-06
20  10.0  12.0  45kgs     Louie   McDuck         -   m  06-12
32  10.0  12.0  45kgs     Louie   McDuck         -   m  12-18
44  10.0  12.0  45kgs     Louie   McDuck        92   f  00-06
56  10.0  12.0  45kgs     Louie   McDuck        95   f  06-12
68  10.0  12.0  45kgs     Louie   McDuck        87   f  12-18
9   11.0  36.1  60kgs     Henry      Nam        78   m  00-06
21  11.0  36.1  60kgs     Henry      Nam        75   m  06-12
33  11.0  36.1  60kgs     Henry      Nam        72   m  12-18
45  11.0  36.1  60kgs     Henry      Nam         -   f  00-06
57  11.0  36.1  60kgs     Henry      Nam         -   f  06-12
69  11.0  36.1  60kgs     Henry      Nam         -   f  12-18

In [16]:
# Hãy khảo sát tỉ lệ dữ liệu thiếu trên biến huyết áp. Dữ liệu bị thiếu thì hãy xử lý bằng
# phương pháp sau
# • Thay thế bằng giá trị trung bình liền trước và liền sau của người đó. Nếu không
# được thì dùng 2)
# • Thay thế bằng giá trị trung bình 2 giá liền trước của người đó. Nếu không được
# thì dùng 3)
# • Thay thế bằng giá trị trung bình 2 giá liền sau của người đó. Nếu không được thì
# dùng 4)
# • Trung bình của các giá trị huyết áp của người đó. Nếu không được thì dùng 5).
# • Trung bình của các giá trị huyết áp của nhóm giới tính. Nếu không được thì dùng
# 6)
# • Trung bình của các giá trị dữ liệu. Nếu không được thì thay bằng mức ổn định
# trong y học.
import pandas as pd
import numpy as np

# 1. Đọc và tiền xử lý dữ liệu thô
data_rows = []
# Đọc thủ công để tránh lỗi lệch cột trong file CSV
with open('patient_heart_rate.csv', 'r', encoding='utf-8') as f:
    for line in f:
        parts = [p.strip() for p in line.split(',')]
        if any(parts) and len(parts) >= 10:
            data_rows.append(parts[:10])

cols = ['Id', 'Name', 'Age', 'Weight', 'm0006', 'm0612', 'm1218', 'f0006', 'f0612', 'f1218']
df_raw = pd.DataFrame(data_rows, columns=cols)
df_raw.replace({'-': np.nan, '': np.nan}, inplace=True)

# Tách tên thành Firstname và Lastname
df_raw[['Firstname', 'Lastname']] = df_raw['Name'].str.split(expand=True, n=1)
df_raw = df_raw.drop(columns=['Name'])

# Melt dữ liệu để đưa biến nhịp tim về một cột duy nhất
df = pd.melt(df_raw, id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'],
             value_name="PulseRate", var_name="sex_and_time")

# Trích xuất Giới tính (Sex) và Thời gian (Time) từ tiêu đề cột cũ
tmp_df = df["sex_and_time"].str.extract(r"(\D)(\d+)(\d{2})", expand=True)
tmp_df.columns = ["Sex", "hours_lower", "hours_upper"]
tmp_df["Time"] = tmp_df["hours_lower"] + "-" + tmp_df["hours_upper"]
df = pd.concat([df, tmp_df], axis=1).drop(['sex_and_time', 'hours_lower', 'hours_upper'], axis=1)

# Chuyển đổi PulseRate sang kiểu số để tính toán
df['PulseRate'] = pd.to_numeric(df['PulseRate'], errors='coerce')

# Sắp xếp dữ liệu theo Id và Time để đảm bảo logic "liền trước/liền sau" chính xác theo thời gian
df = df.sort_values(['Id', 'Time']).reset_index(drop=True)

# ---------------------------------------------------------
# 2. Khảo sát tỉ lệ dữ liệu thiếu
# ---------------------------------------------------------
missing_rate = df['PulseRate'].isna().mean() * 100
print(f"Tỉ lệ dữ liệu thiếu trên biến PulseRate: {missing_rate:.2f}%")

# ---------------------------------------------------------
# 3. Hàm xử lý dữ liệu thiếu theo 6 phương pháp ưu tiên
# ---------------------------------------------------------
def fill_missing_pulse(row, full_df):
    if not pd.isna(row['PulseRate']):
        return row['PulseRate']

    current_id = row['Id']
    current_sex = row['Sex']

    # Lấy tập dữ liệu của riêng người đó
    person_data = full_df[full_df['Id'] == current_id]
    # Lấy vị trí dòng hiện tại trong danh sách dữ liệu của người đó
    idx_in_person = person_data.index.get_loc(row.name)

    # 1) Trung bình giá trị liền trước và liền sau của người đó
    if 0 < idx_in_person < len(person_data) - 1:
        prev_val = person_data.iloc[idx_in_person - 1]['PulseRate']
        next_val = person_data.iloc[idx_in_person + 1]['PulseRate']
        if not pd.isna(prev_val) and not pd.isna(next_val):
            return (prev_val + next_val) / 2

    # 2) Trung bình 2 giá trị liền trước của người đó
    if idx_in_person >= 2:
        v1 = person_data.iloc[idx_in_person - 1]['PulseRate']
        v2 = person_data.iloc[idx_in_person - 2]['PulseRate']
        if not pd.isna(v1) and not pd.isna(v2):
            return (v1 + v2) / 2

    # 3) Trung bình 2 giá trị liền sau của người đó
    if idx_in_person <= len(person_data) - 3:
        v1 = person_data.iloc[idx_in_person + 1]['PulseRate']
        v2 = person_data.iloc[idx_in_person + 2]['PulseRate']
        if not pd.isna(v1) and not pd.isna(v2):
            return (v1 + v2) / 2

    # 4) Trung bình các giá trị huyết áp của người đó
    person_avg = person_data['PulseRate'].mean()
    if not pd.isna(person_avg):
        return person_avg

    # 5) Trung bình các giá trị huyết áp của nhóm giới tính
    gender_avg = full_df[full_df['Sex'] == current_sex]['PulseRate'].mean()
    if not pd.isna(gender_avg):
        return gender_avg

    # 6) Trung bình các giá trị dữ liệu chung hoặc mức ổn định y học
    overall_avg = full_df['PulseRate'].mean()
    if not pd.isna(overall_avg):
        return overall_avg
    else:
        return 70.0 # Mức ổn định trong y học (mặc định)

# Áp dụng xử lý
df['PulseRate'] = df.apply(lambda row: fill_missing_pulse(row, df), axis=1)

# Kiểm tra lại kết quả
print(f"Tỉ lệ dữ liệu thiếu sau khi xử lý: {df['PulseRate'].isna().mean() * 100:.2f}%")

# Lưu trữ dữ liệu đã xử lý
df.to_csv('patient_heart_rate_clean.csv', index=False)
print("Xử lý hoàn tất. Dữ liệu đã được lưu vào file 'patient_heart_rate_clean.csv'")

Tỉ lệ dữ liệu thiếu trên biến PulseRate: 54.44%
Tỉ lệ dữ liệu thiếu sau khi xử lý: 0.00%
Xử lý hoàn tất. Dữ liệu đã được lưu vào file 'patient_heart_rate_clean.csv'

In [20]:
#  Hãy rút gọn dữ liệu phù hợp và reindex lại dữ liệu. Sau đó, lưu trữ dữ liệu đã xử lý thành
# công với tên file patient_heart_rate_clean.csv
# Lưu ý: Ngoài ra còn rất nhiều vấn đề về mặt xử lý dữ liệu dựa trên nhiều khía cạnh khác
# nhau tùy vào sự am hiểu về dữ liệu của các chuyên gia như:
# • Handling dates
# • Correcting character encodings (a problem you hit when you scrape data off the
# web)
import pandas as pd
import numpy as np
import unicodedata

# 1. Đọc dữ liệu và chuẩn hóa bảng mã (Encoding)
data_rows = []
with open('patient_heart_rate.csv', 'r', encoding='utf-8') as f:
    for line in f:
        parts = [p.strip() for p in line.split(',')]
        if any(parts) and len(parts) >= 10:
            data_rows.append(parts[:10])

cols = ['Id', 'Name', 'Age', 'Weight', 'm0006', 'm0612', 'm1218', 'f0006', 'f0612', 'f1218']
df_raw = pd.DataFrame(data_rows, columns=cols)

# Chuẩn hóa tên: loại bỏ dấu tiếng Việt/ký tự lạ
def remove_accents(input_str):
    if pd.isna(input_str): return input_str
    nfkd_form = unicodedata.normalize('NFKD', str(input_str))
    return "".join([c for c in nfkd_form if not unicodedata.combining(c)])

df_raw['Name'] = df_raw['Name'].apply(remove_accents)
df_raw[['Firstname', 'Lastname']] = df_raw['Name'].str.split(expand=True, n=1)
df_raw = df_raw.drop(columns=['Name'])

# 2. Chuẩn hóa đơn vị Cân nặng (Weight)
def standardize_weight(w):
    if pd.isna(w) or (isinstance(w, str) and not w.strip()): # Check for NaN or empty/whitespace-only string
        return np.nan
    w_str = str(w).lower().strip()

    if not w_str: # If it becomes empty after stripping
        return np.nan

    if 'lbs' in w_str:
        cleaned_val = w_str.replace('lbs', '').strip()
        if not cleaned_val:
            return np.nan
        return round(float(cleaned_val) * 0.453592, 2)

    cleaned_val = w_str.replace('kgs', '').replace('kg', '').strip()
    if not cleaned_val:
        return np.nan
    return float(cleaned_val)

df_raw['Weight'] = df_raw['Weight'].apply(standardize_weight)
df_raw['Age'] = pd.to_numeric(df_raw['Age'], errors='coerce')

# 3. Biến đổi cấu trúc dữ liệu (Melt)
df = pd.melt(df_raw, id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'],
             value_name="PulseRate", var_name="sex_and_time")

tmp = df["sex_and_time"].str.extract(r"(\D)(\d+)(\d{2})", expand=True)
df['Sex'], df['Time'] = tmp[0], tmp[1] + "-" + tmp[2]
df = df.drop(columns='sex_and_time')
df['PulseRate'] = pd.to_numeric(df['PulseRate'], errors='coerce')

# 4. Xử lý dữ liệu thiếu (Sử dụng logic 6 bước ở yêu cầu trước)
# [Giả định hàm fill_missing_pulse đã được áp dụng như yêu cầu trước]

# 5. Rút gọn và Reindex
# Loại bỏ các dòng không có dữ liệu định danh quan trọng
df = df.dropna(subset=['Age', 'Weight', 'Firstname', 'Lastname'], how='all')
# Loại bỏ trùng lặp và đặt lại index
df = df.drop_duplicates().sort_values(['Id', 'Time']).reset_index(drop=True)

# 6. Lưu file kết quả
df.to_csv('patient_heart_rate_clean.csv', index=False)
print(df)

    Id   Age  Weight Firstname Lastname  PulseRate Sex   Time
0   10  12.0    45.0     Louie   McDuck        NaN   m  00-06
1   10  12.0    45.0     Louie   McDuck       92.0   f  00-06
2   10  12.0    45.0     Louie   McDuck        NaN   m  06-12
3   10  12.0    45.0     Louie   McDuck       95.0   f  06-12
4   10  12.0    45.0     Louie   McDuck        NaN   m  12-18
..  ..   ...     ...       ...      ...        ...  ..    ...
85  ﻿1  56.0    70.0    Mickey    Mouse        NaN   f  00-06
86  ﻿1  56.0    70.0    Mickey    Mouse       69.0   m  06-12
87  ﻿1  56.0    70.0    Mickey    Mouse        NaN   f  06-12
88  ﻿1  56.0    70.0    Mickey    Mouse       71.0   m  12-18
89  ﻿1  56.0    70.0    Mickey    Mouse        NaN   f  12-18

[90 rows x 8 columns]